body {
    margin: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: powderblue;
}

.movie-card {
    background-color: mediumturquoise;
    margin: 10px auto;
    height: 400px;
    width: 60%;
    border: black solid 1px;
    border-radius: 25px;
    text-align: center;
}

.movie-image {
    height: 300px;
    width: auto;
    padding: 10px;
    float: left;
    margin-left: 50px;
    vertical-align: middle;
    border-radius: 25px;
}

.release-date {
    padding-top: 60px;
}

#header {
    text-align: center;
    font-size: 2em;
}

.movie-title {
    text-align: center;
}

#information {
    margin: 40px;
}

#movie-display {
    width: 60%;
}

#movie-display, #watchlist {
    display: inline-block;
}

#watchlist {
    border: black solid 1px;
    border-radius: 25px;
    margin: auto;
    position: fixed;
    top: 790px;
    padding: 20px 40px;
    width: 20%;
    background-color: mediumturquoise;
}

#watchlist h3 {
    text-align: center;
    font-size: 1.5em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
}

#sorter {
    text-align: center;
    text-transform: uppercase;
}

#sort-movies {
    background-color: mintcream;
    border-radius: 5px;
}

.watchlist-button, .movie-description {
    background-color: mintcream;
    border-radius: 25px;
    display: inline-block;
    justify-content: center;
}

li {
    font-size: 1.2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
}


